{% extends "layout.html" %}

{% block content %}
	<h1>Login Page</h1>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script type="text/javascript">
        alert('{{ message }}');
    </script>  
    {% endfor %}
    {% endif %}
    {% endwith %}
	<form method="post" action="/auth/login">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="row mb-3">
			{{ form.username.label }} 
			{{ form.username() }}
		</div>
		<div class="row mb-3">
			{{ form.password.label }} 
			{{ form.password() }}
		</div>
		<div>
			<a href=" {{ url_for('auth.register') }} "> Sign Up</a> &emsp;
			or &emsp;
			<a href=" {{ url_for('auth.reset_password') }} "> Forget password?</a>
		</div>
		<br>
		<div class="col-auto">
			{{ form.submit() }}
		</div>
	</form>

{% endblock %}

