{% extends "layout.html" %}

{% block content %}
	<h1>Login Page</h1>
	<form method="post" action="/auth/login">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<p class="form-warning">{{ login_warning }}</p>
		<div class="row mb-3">
			{{ form.username.label }} 
			{{ form.username() }}
		</div>
		<div class="row mb-3">
			{{ form.password.label }} 
			{{ form.password() }}
		</div>
		<div class="row mb-3">
			<a href=" {{ url_for('auth.register') }} "> Haven't signed up yet?</a>
		</div>
		<div class="col-auto">
			{{ form.submit() }}
		</div>
		
	</form>

{% endblock %}

