{% extends "layout.html" %}

{% block content %}
	<h1>About</h1>
	<p class="content-img"><img src="./static/img/personal_pic.png" alt="personal_pic" width="500"></p>
	<h2>Profile</h2>
	<p>
		Albert is an software developer who has two years of experience developing backend application and data engineering hosted on cloud service. 
		He is passionate and self-motivated, so that he constantly improves himself by learning new skills in spare time.
		
	</p>
	<h2>Skills</h2>
	<p>
		- Use Python to implement backend development, ETL process, etc. <br>
		- Manipulate data in SQL, also familiar with NoSQL like MongoDB, Redis, Elasticsearch, etc.<br>
		- Use containerization skills like Docker.<br>
		- Have a great deal of experience with Linux environment such as Ubuntu.<br>
		- Familiar with developing, designing solutions and deploying services on cloud service like AWS.<br>
		- Track code by Git and following Git-flow rules for coordinating work with colleagues.<br>
		- Manage and track project issues by Jira in sync with Jenkins and Slack for CICD and notification.<br>
		- Familiar working in Scrum framework and iterative development.<br>
		- Problem solving, quickly and accurately learning new skills and programming tools.
	</p>

	<h2>Work experience</h2>
	<h3>04/2020 - present, Software Engineer, Digital, Data & Technology Center at Cathay Financial Holdings Co., Ltd.</h3>
	<p>
		- Implemented the business logic, developed REST API in Flask.<br>
		- Deployed and maintained projects on cloud service like AWS.<br>
		- Built web crawler and ETL pipeline.<br>
		- Optimized application and database performance.<br>
		- Refactored the code and did code review with team.<br>
		- Wrote and updated API documentation by Swagger.
	</p>	
{% endblock %}