{% extends "layout.html" %}

{% block content %}
	<h1>Blog</h1>
	<div class="accordion accordion-flush" id="accordionFlush">
		<h2>Recording and sharing my learning journey with notes.</h2>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Data Structures and Algorithms
				</button>
			</h2>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<ul>
						<li>
							<a href="https://albertteng.notion.site/Complexity-a25137fd4b8a4684a0a6b568a98edac1" target="_blank">Complexity</a>
						</li>
						<li>
							<a href="https://albertteng.notion.site/Array-7a023955022646caaa346996c0871048" target="_blank">Array</a>
						</li>
						<li>
							<a href="https://albertteng.notion.site/Linkedlist-45e2580e20f045d181f9f5c96c086d0a" target="_blank">LinkedList</a>
						</li>
						<li>
							<a href="https://www.notion.so/albertteng/Recursive-7641baccde7f493cab9b533de511ab2e" target="_blank">Recursive</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					Web
				</button>
			</h2>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<ul>
						<li>
							<a href="https://albertteng.notion.site/HTTP-1-0-3-8c257b54900a4777a91224e67090cb99" target="_blank">HTTP從1.0到3</a>
						</li>
						<li>
							<a href="https://albertteng.notion.site/HTTPS-89211966adc54332b98a178c49d2ba23" target="_blank">HTTPS原理</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="flush-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
					Python
				</button>
			</h2>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<ul>
						<li>
							<a href="https://albertteng.notion.site/classmethod-and-staticmethod-9e6d1f302f7e4629bd6a97c2a473b3af" target="_blank">@classmethod and @staticmethod</a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}
