{% extends "layout.html" %}

{% block content %}
	<div class="accordion accordion-flush" id="accordionFlush">
		<div class="accordion-item">
			<h1 class="accordion-header" id="flush-headingOne">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					Data Structures and Algorithms
				</button>
			</h1>
			<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<ul>
						<li>
							<a href="https://medium.com/@albert-teng/dsa-note-array-e009022ebd72" target="_blank">Array</a>
						</li>
						<li>
							<a href="https://medium.com/@albert-teng/dsa-note-linkedlist-ee444e077b47" target="_blank">LinkedList</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h1 class="accordion-header" id="flush-headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					Web
				</button>
			</h1>
			<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<ul>
						<li>
							<a href="https://medium.com/@albert-teng/web-http%E5%BE%9E1-0%E5%88%B03-6eea63230cb1" target="_blank">HTTP從1.0到3</a>
						</li>
						<li>
							<a href="https://medium.com/@albert-teng/web-https%E5%8E%9F%E7%90%86-64a0f2e34245" target="_blank">HTTPS原理</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h1 class="accordion-header" id="flush-headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
					Python
				</button>
			</h1>
			<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				<div class="accordion-body">
					<ul>
						<li>
							<a href="https://medium.com/@albert-teng/python-classmethod-and-staticmethod-9d2d682a81b1" target="_blank">@classmethod and @staticmethod</a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}
