{% extends "layout.html" %}

{% block content %}
	<p class="content-img"><img src="./static/img/index_pic.gif" alt="index_pic" width="50%"></p>
	<h2>
		Hi there!
	</h2>
	<p>
		Welcome to visit my website, my name is Albert Teng, a software developer.
	</p>
	<p>
		You can find more information about me in About page which on navigation bar, or read some articles written by me in my Blog page.
	</p>
	<p>
		If you are interested, trying the demonstrations by clicking Portfoilo on navigation bar.
	</p>
	<p>
		When clicking Portfoilo, you will find out it contains several functionalities to try. <br>
		Read the "This Website" first! "This Website" is an overview of this website, it will show you how I built and what I done. By the way, it will introduce other demo's usage as well.
	</p>
	<p>
		If you see Not-Implement page，it's mean that I am preparing to build this but not finish yet. 
		It may be complete when you visit my website next time.
	</p>
	<p>
		Finally, I provide my Github, LinkedIn and Email on the far right of the navigation bar. Feel free to send email to me or send me message on LinkedIn!
	</p>
{% endblock %}

