{% extends "base.html" %}

{% block content %}
	<h1>Hello! I am Albert Teng.<br>Welcome to my website!</h1>
	<p class="content-img"><img src="./static/img/personal_pic.png" alt="personal_pic" width="450"></p>
	<p>
		I am a software developer and have a great deal of experience with backend development, data processing and cloud service.
	</p>
	<p>
		You can find more information in About page which on navigation bar, or read some articles written by me in my Blog page.
	</p>
	<p>
		If you are interested, trying the demonstrations by clicking Portfoilo on navigation bar.
	</p>
	<p>
		When clicking Portfoilo, you will find out it contains several functionalities to try. <br>
		Read the "This Website" first! "This Website" is an overview of this website, it will show you how I built and what I done. By the way, it will introduce other demo's usage.
	</p>
	<p>
		If you see Not-Implement page，it's mean that I am preparing to build this but not finish yet. It may be complete when you visit my website next time.
	</p>
{% endblock %}

