{% extends "base.html" %}

{% block content %}
	<h1>Login Page</h1>
	<form method="post" action="/login">
		<p class="form-warning">{{ login_warning }}</p>
		<div class="mb-3">
		{{ form.username.label }} 
		{{ form.username() }}
		<!-- <input type="text" class="form-control" name="username" placeholder="Your username"> -->
		</div>
		<div class="mb-3">
			{{ form.password.label }} 
			{{ form.password() }}
		<!-- <input type="password" class="form-control" name="password" placeholder="Your password"> -->
		</div>
		<div class="mb-3">
			{{ form.remember() }}
			{{ form.remember.label }} 
			<span>&emsp;</span>
			<a href="/register">registered yet?</a>
		<!-- <input type="password" class="form-control" name="password" placeholder="Your password"> -->
		</div>
		{{ form.submit() }}
	</form>

{% endblock %}

