{% extends "base.html" %}

{% block content %}
	<h1>Login Page</h1>
	<form method="post" action="/login">
		<p class="form-warning">{{ login_warning }}</p>
		<div class="mb-3">
		{{ form.username.label }} 
		{{ form.username() }}
		</div>
		<div class="mb-3">
			{{ form.password.label }} 
			{{ form.password() }}
		</div>
		<div class="mb-3">
			{{ form.remember() }}
			{{ form.remember.label }} 
			<span>&emsp;</span>
			<a href="/register"> Haven't signed up yet?</a>
		</div>
		{{ form.submit() }}
	</form>

{% endblock %}

