{% extends "layout.html" %}

{% block content %}
    <h1>About this website</h1>
    <h2>Overview</h2>
    <p>
        Hi! thanks again, I am pretty glad you have interested in my website.<br>
        The reason why I built this website is because I want a place 
        where can show my side projects and let people know more about me.
    </p>
    <p class="content-img">
        <img src="./static/img/web_structure.png" alt="web_structure" width="75%">
    </p>
    <p>
        The website structure is shown above, this project is running on Google Compute Engine (e2-micro with 2 vCPUs, 1 GB memory), 
        which is the compute instance on Google Cloud Platform.
        It builds with three different components (Proxy server, Web application and Database) 
        and all of them are run inside the container.<br>
        The source code is available at <a href="https://github.com/adelberteng/personal_website" target="_blank">Github</a>.
    </p>
    <h2>Web Application</h2>
    <p>
        I mainly use Python for programming, 
        so I decided to use Flask to be the web application framework 
        and add Gunicorn to the front as a WSGI web server for improving performance.
    </p>
    <p>
        In my website, in addition to have some static pages, 
        also implement some functionalities to interact with backend system.
        You can sign up and login this website, 
        browse the shopping page (that is dummy, of course) after login, 
        pick up a product into your cart, 
        view your cart item and finally set up an order. 
        After you finish your testing, you can logout your account. 
    </p>
    <h3>Auth</h3>
    <p>
        First of all, I strongly recommend DO NOT entry any sensitive 
        or real personal information during you try my demonstration, 
        and I won’t guarantee your data keep in database permanently 
        because I might be flush out data anytime!
    </p>
    <h3>Shopping Cart</h3>

{% endblock %}
