{% extends "layout.html" %}

{% block content %}
	<h1>Shopping Page</h1>
	<div class="row px-5 pt-5">
		<div class="col-md-4 mt-4 mt-sm-0 card-container">
			<div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
				<img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/shop_glasses.jpg') }}" alt="Pilot Aviator Glasses Gear Image">
				<div class="card-body p-4 py-0 h-xs-440p">
					<h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Pilot Aviator Glasses</h5>
					<p class="price">$45.00</p>
				</div>
				<p class="btn w-100 px-4 mx-auto">
					<form action="{{ url_for('shop.merchandise') }}">
						<input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Buy Now">
						<input type="hidden" name="merchandise_id" value="glasses">
					</form>
				</p>
			</div>
		</div>
	
		<div class="col-md-4 mt-4 mt-sm-0 card-container">
			<div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
				<img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/shop_hat.jpg') }}" alt="Command Hats Gear Image">
				<div class="card-body p-4 py-0 h-xs-440p">
					<h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Command Hats</h5>
					<p class="price">$15.00</p>
				</div>
				<p class="btn w-100 px-4 text-center mx-auto">
					<form action="{{ url_for('shop.merchandise') }}">
						<input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Buy Now">
					</form>
				</p>
			</div>
		</div>
	
		<div class="col-md-4 mt-4 mt-sm-0 card-container">
			<div class="card text-center product p-4 pt-5 border-0 h-100 rounded-0">
				<img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/shop_tshirt.jpg') }}" alt="Mission T-Shirts Gear Image">
				<div class="card-body p-4 py-0 h-xs-440p">
					<h5 class="card-title font-weight-semi-bold mb-3 w-xl-220p mx-auto">Mission T-Shirts</h5>
					<p class="price">$25.00</p>
				</div>
				<p class="btn w-100 px-4 mx-auto">
					<form action="{{ url_for('shop.merchandise') }}">
						<input type="submit" class="btn btn-dark btn-lg w-100" name="add-button" value="Buy Now">
					</form>
				</p>
			</div>
		</div>
	</div>
	<a href="">Check your shopping cart here!</a>

{% endblock %}